  /* Universal Styles */
* {
 font-size: 12px;
 font-family: 'Vollkorn SC', serif;
}

div {
  display: block;
}

.flex-container {
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 20px;
}

h1, h2, h3, span {
  font-family: 'Vollkorn SC', serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* Header Section */
.body {
  max-width: 1280px;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 100%;
}

/* Nav Section */
.nav {
  max-width: 100%;
  height: auto;
}

nav {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  background-color: none;
   /*use when nav on top*/
  top: 0;
  padding: 20px;
  margin: 0 auto;
}

nav.flex-container {
  background-color: black;
}

nav .name {
  width: 25%;
  text-align: center;
}

nav a {
  width: 75%;
  text-align: right;
  padding-right: 200px;
}

.Project-Title {
  background-color: black;
}

.Project-Title h1 {
  color: yellow;
  font-size: 35px;
}

  /* Nav Mobile */
  @media only screen and (max-width:545px) {
    .Project-Title h1 {
      font-size: 25px;
    }
  }

/* Video Section */
#video.main-container {
  max-width: 100%;
  background-color: #FFF;
  padding: 20px;
  background-color: black;
}

.video {
  max-width: 100%;
  height: 700px;
  margin: 0 auto;
  background-color: #FFF;
  }

  /* Video Mobile */
  @media only screen and (max-width:1049px) {
    .video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    }

    .video iframe, .video object, .video embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    }
  }

  @media only screen and (max-width:545px) {
    #video.main-container {
      padding: 0;
    }
    .video {
      margin: 0 auto;
    }
  }

/* Showcase Section */
.showcase {
  max-width: 100%;
  padding: 20px 0;
  padding-top: 10px;
  background-color: black;
}

.work-showcase {
  padding-bottom: 20px;
}

.work-showcase h1{
  padding: 20px 0;
  border: 3px solid white;
  font-size: 60px;
  color: #FFF;
  text-align: center;
}

.carousel {
  max-width: 100%;
  padding: 20px;
}

.carousel .carousel-item {
  max-width: 800px;
  margin: 0 auto;
  transition: none;
}

/*.carousel-inner .active {
  transition: opacity 0.1s linear;
  opacity: 1;
}*/

.w-100 {
  width: auto!important;
  max-height: 600px;
}

.carousel-item .w-100{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.carousel-caption {
  padding-top: 20px;
  padding-bottom: 0;
  opacity: 0.6;
}

.carousel-caption .black {
  color: black;
}

.carousel-caption h5 {
  font-size: 18px;
}

.carousel-caption p {
  font-size: 15px;
}

  /* Showcase Mobile */
  @media only screen and (max-width:545px) {
    .showcase {
      padding-top: 0;
    }

    .work-showcase {
      padding: 0;
      padding-top: 10px;
    }

    .work-showcase h1{
      font-size: 40px;
      border: 0;
      text-decoration: underline;
    }
    .carousel-inner .sketch img{
      height: 270px;
    }
  }

/* Thermometer Section */
body .thermometer {
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
	background-color: #142F4C;
  padding: 20px 0;
  padding-top: 0px;
}

.thermometer .statistics {
  padding-top: 40px;
  padding-bottom: 20px;
}

.statistics h1 {
  font-size: 60px;
  color: #FFF;
  text-align: center;
}

#countdown-wrap {
  width: 100%;
  height: 300px;
  //border: 1px solid black;
  padding: 70px 30px;
  padding-top: 50px;
  font-family: arial;
  max-width: 1000px;
  margin: 0 auto;
}

#goal {
  font-size: 40px;
  text-align: right;
  color: #FFF;
  padding: 20px;
  padding-top: 0px;

    @media only screen and (max-width : 640px) {
      text-align: center;
    }
  }

#glass {
  width: 100%;
  height: 30px;
  background: #c7c7c7;
  border: 3px solid white;
  border-radius: 20px;
  float: left;
  overflow: hidden;
}

#progress {
  float: left;
  width: 115%;
  height: 30px;
  background: #32cd32;
  z-index: 333;
  //border-radius: 5px;
}

.goal-stat {
  width: 25%;
  //height: 30px;
  padding: 30px 20px;
  float: left;
  margin: 0;
  color: #FFF;

  @media only screen and (max-width : 640px) {
    width: 50%;
    text-align: center;
  }
}

.goal-number, .goal-label {
  display: block;
}

.goal-stat span{
  font-size: 20px;
  text-align: center;
  padding: 2px 0;
}

.goal-number {
  font-weight: bold;
}

  /* Thermometer Mobile */
  @media only screen and (max-width:545px) {
    body .thermometer {
      padding-bottom: 0;
    }

    .thermometer .statistics {
      padding-top: 30px;
      padding-bottom: 5px;
    }

    .statistics h1 {
      font-size: 50px;
      text-decoration: underline;
    }

    #countdown-wrap {
      height: 220px;
      padding: 35px 20px 0 20px;

    }

    #goal {
      padding-bottom: 25px;
      padding-right: 10px;
    }

    #goal .current {
      font-size: 32px;
    }

    .goal-stat {
      padding: 10px;
    }

    .goal-stat span {
      font-size: 14px;
    }
  }

/* Donation Section */
.donation {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin: 15px;
  padding: 30px 0;
  background-color: #fcd201;
  border: 3px dashed black;
  border-radius: 20px;
}

.donation a {
  text-decoration: none;
}

.donation.donations {
  padding: 20px;
}

.donations .image-container {
  margin: 0 auto;
  text-align: center;
}

.donations img {
  width: 250px;
}

.donations h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

  /* Donation Hover */
  .donation:hover {
    background-color: white;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .donation a:hover {
    transition: 0.5s;
  }

  /* Donation Mobile */
  @media only screen and (min-width:481px) {
    .donation {
      background-image: url('../images/donate-background.png');
      background-repeat: repeat;
      background-size: contain;
    }
    .donation img {
      display: none;
    }

  }

  @media only screen and (max-width:480px) {
    .main-container.donation {
      padding: 2px;
      height: 150px;
      margin: 15px;
      border-radius: 20px;
      border: 3px solid black;
    }
    .donation img {
      width: 130px;
      padding: 5px 0;
      padding-left: 5px;
    }
    .donation h1 {
      display: none;
      font-size: 60px;
      padding: 10px 0;
    }
  }

/* Share Section */
.share {
  max-width: 100%;
  height: 270px;
  margin: 0 auto;
  text-align: center;
  padding: 35px 0;
  background-color: #fff;
}

.share .share-buttons {
  max-width: 500px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 50px;
}

.share h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.share h2 {
  padding: 20px;
  font-size: 20px;
}

  /* Share Mobile */
  @media only screen and (max-width:480px) {
    .share {
      height: 220px;
      padding: 20px 0;
      padding-bottom: 0;
    }
    .share h1 {
      font-size: 50px;
      text-decoration: underline;
    }
    .share h2 {
      font-size: 20px;
      padding: 10px 40px;
    }
    .share .share-buttons {
      padding-left: 25px;
    }
  }

/* Contact Section */
#Contact {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  background-color: lightgray;
  color: white;
}

#Contact .main-container {
  width: 100%;
  padding-top: 40px;
  background-color: lightgray;
  flex-direction: column;
}

.Contact-Header {
  margin: auto;
  font-size: 70px;
  font-weight: bold;
  text-decoration: underline;
}

.contact-content {
  margin: auto;
  padding: 25px;
  padding-bottom: 15px;
}

.contact-content .text {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.social-media {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 60px;

}

.Logo {
  width: 120px;
  height: 120px;
  margin: 30px;
  opacity: 0.3;
  border-radius: 20%;
}

.Email .Logo {
  background-image: url("../images/Mail-Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.Instagram .Logo {
  background-image: url("../images/Instagram-Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.Facebook .Logo {
  background-image: url("../images/Facebook-Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.LinkedIn .Logo {
  background-image: url("../images/Linkedin-Logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

  /* Contact Hover */
  #Contact .main-container:hover {
    background-color: gray;
    transition: 1.2s;
    transition-timing-function: ease-in-out;
  }

  .Email .Logo:hover {
    background-color: #fff176;
  }

  .Instagram .Logo:hover {
    background-color: violet;
  }

  .Facebook .Logo:hover {
    background-color: navy;
  }

  .LinkedIn .Logo:hover {
    background-color: #0E76A8;
  }

  .Logo:hover {
    transition: 0.8s;
    transition-timing-function: ease-in-out;
    opacity: 1;
  }
  /**/

  /* Contact Mobile */
  @media only screen and (max-width:545px) {
    #Contact {
      border: none;
    }

    #Contact .main-container {
      padding-top: 40px;
      background-color: black;
    }

    #Contact .contact-content {
      padding: 15px 3px;
    }

    #Contact h2 {
      font-size: 40px;
    }

    .contact-content .text {
      padding: 0 40px;
      padding-bottom: 5px;
    }

    #Contact .social-media {
      width: 100%;
      padding: 20px 0;
    }

   .Logo {
      width: 60px;
      height: 60px;
      margin: 10px 5px;
      opacity: 0.4;
    }

    #Contact .Email .Logo {
      background-color: #fff176;
    }

    #Contact .Instagram .Logo {
      background-color: violet;
    }

    #Contact .Facebook .Logo {
      background-color: navy;
    }

    #Contact .LinkedIn .Logo {
      background-color: #0E76A8;
    }

    /*Contact Mobile Hover */
    #Contact .main-container:hover {
      background-color: black;
    }
    /**/
  }




/* Footer */
footer {
  max-width: 1200px;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 0.5%;
  background-color: white;
  padding-left: 5px;
}

footer p {
  width: 100%;
  font-size: 18px;
  margin: 10px;
}

footer a {
  text-decoration: none;
}


  /* Footer Mobile */
  @media only screen and (max-width: 480px) {
    footer p {
      font-size: 14px;
    }
  }
